<% layout("/layouts/boilerplate") %>
<body>

    <div class="row">
        <div class="col-8 offset-2">

            <h1>Edit Listing</h1>
            <form method="POST" class="needs-validation" action="/listings/<%=list._id%>?_method=PUT" novalidate enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label"><b>Title</b></label>
                    <input type="text" name="title" value="<%= list.title %>" class="form-control" id="title" style="height: 3rem;" required>
                </div>
        
                <div class="mb-3">
                    <label for="dec" class="form-label"><b>Description</b></label>
                    <textarea name="description" class="form-control" id="dec" style="height: 5rem;" required><%= list.description %></textarea>
                </div>
        
                <div class="mb-3">
                    Original Listing Image 
                    <br>
                    <img src="<%= ogUrl %>" alt="listing image">
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label"><b>Upload New Image</b></label>
                    <input type="file" name="listing[image]" class="form-control" id="img">       
                </div>
        
                <div class="row">

                    <div class="mb-3 col-md-4 ">
                        <label for="dec" class="form-label"><b>Price</b></label>
                        <input type="number" name="price" value="<%= list.price %>" class="form-control" id="dec" style="height: 3rem;" required>            
                    </div>
            
                    <div class="mb-3 col-md-8 ">
                        <label for="location" class="form-label"><b>Location</b></label>
                        <input type="text" name="location" value="<%= list.location %>" class="form-control" id="location" style="height: 3rem;" required>
                    </div>

                </div>
                
        
                <div class="mb-3">
                    <label for="count" class="form-label"><b>Country</b></label>
                    <input type="text" name="country" value="<%= list.country %>" class="form-control" id="count" style="height: 3rem;" required>
                </div>
                <br>

                <button class="edit">EDIT</button>
            </form>

        </div>
        
    </div>

</body>
